[submodule "threat-and-sec-back"]
	path = threat-and-sec-back
	url = https://github.com/emelyanovkr/threat-and-sec-back.git
[submodule "threat-and-sec-front"]
	path = threat-and-sec-front
	url = https://github.com/emelyanovkr/threat-and-sec-front.git
